 <div class="full-matching-card">
   <div class="row" id="matching-card">
    <div class="card">
      <div class="card-header">
        <%= image_tag "Hamilton-Bright.jpg", id: "company-logo-card" %>
        <span class="badge">STUDENT</span>
        <h1>Promomedewerker Nescafe</h1>
        <p id="card-location"><i class="material-icons">room</i>Antwerpen</p>
      </div>
      <div class="card-content">
        <div class="card-share">
          <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">share</i></a>
        </div>
        <p>I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively.</p>
        <div class="chip">
          Promo
        </div>
        <div class="chip">
          Field Sales
        </div>
      </div>
    </div>
    <div class="matching-buttons">
      <div class="col s6">
      <a class="waves-effect waves-light btn" id="deny-match-btn"><i class="material-icons">close</i></a>
      </div>
      <div class="col s6">
        <a class="waves-effect waves-light btn" id="approve-match-btn"><i class="material-icons">done</i></a>
      </div>
    </div>
  </div>
</div>
